*
!.gitignore
!assets
!Libft
!minilibx-linux
!Makefile
!srcs/
!srcs/*.c
!srcs/*/
!srcs/*/*.c
!includes/
!includes/*.h
!libs/libmlx_Linux.a
!libs/libmlx.dylib
!auto_test.sh
!test/
!test/**/
!test/**/test.sh
!test/**/*.ber
