*
!.gitignore
!assets
!Libft
!minilibx-linux
!Makefile
!srcs/
!srcs/*.c
!srcs/*/
!srcs/*/*.c
!includes/
!includes/*.h
!libs/libmlx_Linux.a
!libs/libmlx.dylib
!textures/
!textures/*.xpm
!cubfiles/
!cubfiles/*.cub
