*
!.gitignore
!assets
!assets/*.xpm
!assets/animation
!assets/animation/*.xpm
!Libft
!minilibx-linux
!Makefile
!srcs/
!srcs/*.c
!srcs/*/
!srcs/*/*.c
!includes/
!includes/*.h
!libs
!libs/libmlx_Darwin.a
!libs/libmlx_Linux.a
!auto_test.sh
!test/
!test/**/
!test/**/test.sh
!test/**/*.ber
!test/**/.git_keep
